<!--<mat-grid-list cols="2" rowHeight="2:1">-->
<!--    <mat-grid-tile><app-canvas></app-canvas></mat-grid-tile>-->
<!--    <mat-grid-tile><app-columns></app-columns></mat-grid-tile>-->
<!--</mat-grid-list>-->

<div id="parentContainer" style="width: 100%;">
    <div style="float: left; width: 50%;"><app-canvas [interactions]="interactions"></app-canvas></div>
    <div style="float: right; width: 50%;"><app-columns [interactions]="interactions"></app-columns></div>
</div>

<!--<div class="canvass">-->
<!--    <div id="chartContainer1"><app-canvas [interactions]="interactions"></app-canvas></div>-->
<!--    <div id="chartContainer2"><app-columns [interactions]="interactions"></app-columns></div>-->
<!--</div>-->

<!--<button mat-raised-button (click)="openDialogCanvasLine('500ms', '500ms')">Sentiment analysis feature</button>-->
<!--<button mat-raised-button (click)="openColumnsComponent('500ms', '500ms')">Sentiment analysis per month</button>-->