<div class="ask">

    <form [formGroup]="addUserForm" (ngSubmit)="saveUserTyped()">
        <mat-form-field>
            <input matInput placeholder="Ask question" formControlName="question" />
        </mat-form-field>
        <button   mat-button color="warn"   [disabled]="!addUserForm.valid" mat-raised-button type="submit">
            Ask Lex
        </button>
    </form>
</div>
<div class="conversations">
<div  *ngFor="let conversation of conversations">
        <span *ngIf="conversation.party === 'Lex'" class="assistant"><span class="ai">AI:</span> {{conversation.text}}</span>
        <span *ngIf="conversation.party === 'Me'" class="user">{{conversation.text}}</span>

</div>
</div>



